<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="../static/js/profileButton.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/c6d943c8a3.js" crossorigin="anonymous"></script>  
    <link rel="shortcut icon" href="../static/img/logo padrao.svg" type="image/x-icon">
    {% block head %}
    <!-- CSS/Scrips/Titles unicos de cada pagina -->
    {% endblock %}
    
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="../static/img/logo padrao.svg" alt="Logo">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/drcBrasil">DRC no Brasil</a></li>
                <li><a href="/comunidade">Comunidade</a></li>
                <li><a href="/perguntasFrequentes">Perguntas frequentes</a></li>
                <li><a href="/quemsomos">Quem somos</a></li>
            </ul>
        </nav>
        <div class="profile">
            <button id="menu-button">
                <i class="fa-solid fa-circle-user"></i>
                <i class="arrow fa-solid fa-chevron-down"></i>
            </button>
            <div class="login_box" id="menu">
                {% if user == None %}    
                <a href="/cadastro">Cadastrar</a>
                <a href="/login">Entrar</a>
                {% else %}
                <a>{{user.user_nome}}</a>
                <hr>
                {% if user.user_admin %}
                <a href="/admin">Painel Administrador</a>
                {% endif %}
                <a href="/logout">Sair</a>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- POP UP DO PYTHON -- CODIGO PRA PASSAR MENSAGEM PARA O USUARIO SE NECESSARIO -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul id="messages" class="list-unstyled">
        {% for message in messages %}
            <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
        <!-- -->

    {% block body %}
    <!-- CONTEUDO AQUI -->
    {% endblock %}

    <footer>
        <div class="footer-left">
            <img src="../static/img/logo-branca.svg" alt="Logo à esquerda">
        </div>
        <div class="footer-center">
            <p>
                &copy; 2023 IRC. Todos os direitos Reservados.
            </p>
        </div>
        <a href="https://www.instagram.com/rimdoamor/">
        <div class="footer-right">
            
                <p class="footer-right-text">SIGA-NOS</p>
                <i class="fa-brands fa-instagram"></i>
            
        </div>
        </a>
    </footer>
</body>
</html>