{% extends 'base.html' %}

{% block head %}
    <title>Cadastrar</title>
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block body %}
<main>
    <section>
        <p>Cadastro</p>
        <form action="cadastrar" method="post">
            <label for="nomeCompleto">Nome Completo *</label>
            <input required type="text" name="nomeCompleto" id="nomeCompleto">

            <label for="dataNascimento">Data de Nascimento *</label>
            <input required type="date" name="dataNascimento" id="dataNascimento">

            <label for="cpf">CPF *</label>
            <input required type="text" name="cpf" id="cpf" placeholder="123.456.789-00">

            <label for="endereco">Endereço</label>
            <input type="text" name="endereco" id="endereco">

            <label for="email">E-mail *</label>
            <input required type="email" name="email" id="email">

            <label for="parentesco">Grau de Parentesco com Paciente</label>
            <select name="parentesco" id="parentesco" >
                <option value="">Selecione</option> <!-- Opção nula -->
                <option value="pai">Pai</option>
                <option value="mãe">Mãe</option>
                <option value="filho">Filho(a)</option>
                <option value="cônjuge">Cônjuge</option>
                <option value="outro">Outro</option>
            </select>

            <label for="profissao">Profissão</label>
            <input type="text" name="profissao" id="profissao">

            <label for="comoChegou">Como Chegou ao Site</label>
            <select name="comoChegou" id="comoChegou">
                <option value="">Selecione</option> <!-- Opção nula -->
                <option value="internet">Internet</option>
                <option value="redesSociais">Redes Sociais</option>
                <option value="amigo">Indicação de Amigo</option>
                <option value="profissional">Indicação Profissional</option>
            </select>

            <label for="senha">Senha *</label>
            <input required type="password" name="senha" id="senha">

            <label for="confirmarSenha">Confirmação de Senha *</label>
            <input required type="password" name="confirmarSenha" id="confirmarSenha">

            <input type="submit" value="Cadastrar">
        </form>
        <a href="/login">Já tem uma conta? Acesse aqui</a>
    </section>
</main>

{% endblock %}