{% extends "base.html" %}

{% block head %}
<title>Comunidade</title>
<link rel="stylesheet" href="../static/css/blog.css">
{% endblock %}

{% block body %}
<main>
    {% if user == None %}
    <section>
            <h1>Comunidade</h1>
            <p>Contribua com nossa comunidade escrevendo a história de seu filho(a)!
                Para publicar é necessário efetuar o login ou se cadastrar em nosso site.</p><br>
    </section>
    {% else %}
    <section>
        <h1>Comunidade</h1>
        <p>Para publicar sua história, escreva na caixa de texto abaixo!</p><br>
</section>
<section class="blog">
    <div class="text-blog">
    <form action="/postar" method="post" enctype="multipart/form-data">

        <label for="nomefilho"></label>
        <input required type="text" name="nomefilho" id="nomefilho" placeholder="Nome do filho(a)">

        <label for="dataNascimentoFilho">Data de Nascimento</label>
        <input required type="date" name="dataNascimentoFilho" id="dataNascimentoFilho" >

        <label class="custom-file-upload">
            <input type="file" name="upload-input" id="upload-input" accept="image/*" multiple>
            <i class="fa-solid fa-download"></i>
        </label>
        <div class="text-blog">
            <label for="historia"></label>
            <textarea required name="historia" id="auto-resize-input" oninput="autoResize(this)" placeholder="Digite sua história"></textarea>
        </div>
        <div class="image-preview" id="image-preview"></div>
        <div class="button-blog">
            <button type="submit" value="solicitar">Solicitar publicação</button>
        </div>
    </form>
</div>

</section>
<section>
    <h3>Confira as histórias</h3>
</section>
<script>
    /* essa função é pro upload das fotos */
    const uploadInput = document.getElementById('upload-input');
    const imagePreview = document.getElementById('image-preview');

    uploadInput.addEventListener('change', function () {
      imagePreview.innerHTML = ''; // Limpa prévias existentes

      const files = uploadInput.files;
      for (let i = 0; i < Math.min(files.length, 5); i++) {
        const file = files[i];
        const img = document.createElement('img');
        img.src = URL.createObjectURL(file);
        imagePreview.appendChild(img);
      }
    });
    /* essa função é para o tamanho da textarea*/
    function autoResize(textarea) {
    textarea.style.height = 'auto'; // Redefine a altura para automática
    textarea.style.height = textarea.scrollHeight + 'px'; // Define a altura com base no conteúdo
    }
</script>
    {% endif %}
    {% for comentario in comentarios %}
    <section onclick="window.location = '/historia/{{comentario.com_id}}'" class="comunidade">
            <div class="text-comunidade">
                {% set perfil = Usuario.query.filter_by(user_id=comentario.fk_user_id).first() %}
                    <div class="text1-comunidade">
                        <img src="../static/img/usuario.png" alt="usuario">
                        <p>{{perfil.user_nome}}</p>
                    </div>

                    <div class="text2-comunidade">
                        <p>História do meu filho - {{comentario.com_nome_filho}} |
                            Nascimento: {{comentario.com_data.strftime('%d/%m/%Y')}}</p>
                    </div>

            </div>
            
            <a href="/historia/{{comentario.com_id}}">
                <i class="fa-solid fa-chevron-right"></i>
            </a>

    </section>
    {% endfor %}
</main>

  
{% endblock %}
