{% extends "base.html" %}

{% block head %}
<title>DRC no Brasil</title>
<link rel="stylesheet" href="../static/css/drc.css">
<script src="../static/js/filtroClinicas.js" defer></script>
<script src="../static/js/pediatrico_espera.js" defer></script>
{% endblock %}

{% block body %}
<main>
    <section class="container">
        <div class="text">
        <h1>DRC NO BRASIL</h1>
        <p>O DRC no Brasil enfrenta desafios significativos, incluindo acesso limitado à saúde, prevenção inadequada,
            disponibilidade limitada de tratamento como diálise e transplante, falta de conscientização, custos
            financeiros, escassez de doadores de órgãos, falta de especialistas, desafios para a área infantil,
            comorbidades e diagnósticos tardios. Apesar dessas dificuldades, esforços estão sendo formados para melhorar
            o acesso aos cuidados do IRC e aumentar a conscientização sobre a prevenção e o tratamento no país.</p>
        </div>
    </section>
    <section class="container-texto">
        <div class="image-container">
            <h2>Lista de Espera - RIM  (Junho 2023)</h2>
            <img src="../static/img/Lista de espera.png">
        </div>
    </section>
    <section class="container-texto">
        <div class="image-container">
            <h2>Mortalidade - RIM (Junho 2023)</h2>

            <img src="../static/img/Mortalidade.png">
        </div>
    </section>
    <section class="container-background">
        <div class="text">
            <h2>Informações Sobre Transplantes</h2>
            
            <p>Se você deseja acessar informações no site oficial do governo sobre transplantes, você pode visitar a <strong>Revista Brasileira de Transplantes</strong> no site da Associação Brasileira de Transplante de Órgãos (ABTO). Lá, você encontrará informações atualizadas e outros dados relevantes sobre transplantes. Acesse o site em:</p>
            
            <a href="https://site.abto.org.br/conteudo/rbt/" target="_blank">Revista Brasileira de Transplantes - ABTO</a>
        </div>
    </section>
    <section class="container-texto">
        <div class="text">

        <h3>Encontre Nefrologistas Perto de Sua Região</h3>
    
        <p>Se você está procurando nefrologistas em sua região, você pode verificar as seguintes fontes:</p>
        
        <h4>Sociedade Brasileira de Nefrologia (SBN)</h4>
        <p>A Sociedade Brasileira de Nefrologia (SBN) fornece uma lista de nefrologistas titulados em todo o Brasil. Você pode verificar essa lista em:</p>
        <a href="https://www.sbn.org.br/profissional/sbn-educacao/nefrologistas-titulados/" target="_blank">Nefrologistas Titulados pela SBN</a>
        
        <h4>Doctoralia</h4>
        <p>O Doctoralia é um site onde você pode pesquisar por nefrologistas em sua região. Basta acessar o site e pesquisar pelo nefrologista na sua localidade. Você pode encontrar nefrologistas próximos a você em:</p>
        <a href="https://www.doctoralia.com.br/" target="_blank">Doctoralia - Encontre Nefrologistas</a>
    </section>
    <section class="container-filtro">
        <div class="text-filtro">
            <h2>Centrais de transplante</h2>
            <form action="">
                <label for="estadoSelect">Selecione um estado:</label>
                <select id="estadoSelect">
                    <option value="">Todos os Estados</option>
                    <option value="Acre">Acre</option>
                    <option value="Alagoas">Alagoas</option>
                    <option value="Amapá">Amapá</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Bahia">Bahia</option>
                    <option value="Ceará">Ceará</option>
                    <option value="Espírito Santo">Espírito Santo</option>
                    <option value="Goiás">Goiás</option>
                    <option value="Maranhão">Maranhão</option>
                    <option value="Mato Grosso">Mato Grosso</option>
                    <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                    <option value="Minas Gerais">Minas Gerais</option>
                    <option value="Pará">Pará</option>
                    <option value="Paraíba">Paraíba</option>
                    <option value="Paraná">Paraná</option>
                    <option value="Pernambuco">Pernambuco</option>
                    <option value="Piauí">Piauí</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                    <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                    <option value="Rondônia">Rondônia</option>
                    <option value="Roraima">Roraima</option>
                    <option value="Santa Catarina">Santa Catarina</option>
                    <option value="São Paulo">São Paulo</option>
                    <option value="Sergipe">Sergipe</option>
                    <option value="Tocantins">Tocantins</option>
                </select>
            </form>
            <ul id="resultadoContainer"></ul>
        </div>
        </section>
</main>
{% endblock %}