{% extends "base.html" %}

{% block head %}
<title>DRC Brasil</title>
{% endblock %}

{% block body %}
<main>
    <section class="">
        <div class="">
            <h1>IRC NO BRASIL</h1>
        </div>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident in excepturi eligendi explicabo commodi aliquam modi maiores, quam ab a. Blanditiis error odio dicta, consequuntur quibusdam maxime commodi dolor quae.</p>
        </div>
    </section>
    <section class="">
        <div class="">
            <h1>Gráficos</h1>
        </div>
        <div class="">
            <img src="" alt="gráfico1">
            <img src="" alt="gráfico2">
            <img src="" alt="gráfico3">
            <img src="" alt="gráfico4">
        </div>
    </section>
    <section class="">
            <div class="">
                <h1>Clinicas que oferecem hemodiálise pediátrica</h1>
            </div>
            <div class="">
                <form action="">
                    <label for="Estado">Estado</label>
                    <select name="Estado" id="Estado">
                        <option value=""></option>
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roiraima">Roiraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                    </select>
                </form>
                <form action=""></form>
                <label for="Município">Município</label>
                <select name="Município" id="Município">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <form action=""></form>
                <label for="Peso">Peso</label>
                <select name="Peso" id="Peso">
                    <option value=""></option>
                    <option value="12-">Kg 12 -</option>
                    <option value="12+">Kg 12 +</option>
                    <option value="15+">Kg 15 +</option>
                    <option value="20+">Kg 20 +</option>
                    <option value="25+">Kg 25 +</option>
                    <option value="30+">Kg 30 +</option>
                    <option value="35+">Kg 35 +</option>
                </select>
            </div>
    </section>
    <section class="">
        <div class="">
            <h1>Centro de transplanta infantil</h1>
        </div>
        <div class="">
            <form action=""></form>
            <label for="Estado">Estado</label>
            <select name="Estado" id="Estado">
                <option value=""></option>
                <option value="Acre">Acre</option>
                <option value="Alagoas">Alagoas</option>
                <option value="Amapá">Amapá</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Bahia">Bahia</option>
                <option value="Ceará">Ceará</option>
                <option value="Espírito Santo">Espírito Santo</option>
                <option value="Goiás">Goiás</option>
                <option value="Maranhão">Maranhão</option>
                <option value="Mato Grosso">Mato Grosso</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                <option value="minas Gerais">Minas Gerais</option>
                <option value="Pará">Pará</option>
                <option value="Paraíba">Paraíba</option>
                <option value="Paraná">Paraná</option>
                <option value="Pernambuco">Pernambuco</option>
                <option value="Piauí">Piauí</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                <option value="Rondônia">Rondônia</option>
                <option value="Roiraima">Roiraima</option>
                <option value="Santa Catarina">Santa Catarina</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Sergipe">Sergipe</option>
                <option value="Tocantins">Tocantins</option>
            </select>
            <form action=""></form>
            <label for="Peso">Peso</label>
            <select name="Peso" id="Peso">
                <option value=""></option>
                <option value="12-">Kg 12 -</option>
                <option value="12+">Kg 12 +</option>
                <option value="15+">Kg 15 +</option>
                <option value="20+">Kg 20 +</option>
                <option value="25+">Kg 25 +</option>
                <option value="30+">Kg 30 +</option>
                <option value="35+">Kg 35 +</option>
            </select>
        </div>
    </section>
</main>
{% endblock %}