{% extends "base.html" %}

{% block head %}
<title>História</title>
<link rel="stylesheet" href="../static/css/blog.css">
<script src="../static/js/sideMenuButton.js" defer></script>
{% endblock %}

{% block body %}
<main>
    <section>
        {% set perfil = Usuario.query.filter_by(user_id=comentario.fk_user_id).first() %}
        <h1>{{ comentario.com_nome_filho }}</h1>
    </section>
    
    <section class="container-comunidade">
        <section class="historia">
            <div class="text-comunidade">
                <div class="text1-comunidade">
                    <a href="/comunidade">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <img src="../static/img/usuario.png" alt="usuario">
                    <p>{{ perfil.user_nome }}</p>
                    <button class="sideMenu">
                        <i class="fa-solid fa-ellipsis" style="transform: rotate(90deg);"></i>
                        <div class="sideOption off">
                            <a href=""><i class="fa-solid fa-triangle-exclamation"></i> Reportar</a>
                        </div>
                    </button>
                </div>
                <div class="text2-comunidade">
                    <p>História do meu filho - {{ comentario.com_nome_filho }} |
                        Nascimento:  {{comentario.com_data.strftime('%d/%m/%Y')}}</p>
                </div>
            </div>

            <div class="text-historia">
                <p>
                   {{ comentario.com_historia }}
                </p>
            </div>
            <div class="image-historia">
                <img class="image" src="../static/img/vitor.png" alt="vitor">
                <img class="image" src="../static/img/vitor1.png" alt="vitor1">
                <img class="image" src="../static/img/vitor2.png" alt="vitor2">
                <img class="image" src="../static/img/vitor3.png" alt="vitor3">
                <img class="image" src="../static/img/vitor4.png" alt="vitor4">
            </div>
        </div>
    </section>
</section>
{% if user == None %}
<section>
    <h3>Comentários</h3>
</section>
<section class="comunidade">
    <div class="text-comunidade">

            <div class="text1-comunidade">
                <img src="../static/img/usuario.png" alt="usuario">
                <p>Ana Letícia de Santos</p>
            </div>

            <div class="text2-comunidade">
                <p>A história de superação de Vitor Daniel é emocionante e inspiradora. Ele enfrentou desafios desde o início de sua vida, passando por tratamentos intensos, hemodiálise e finalmente, o tão aguardado transplante renal. Vitor é um verdadeiro guerreiro e sua família demonstra amor inabalável e determinação. Esta história nos lembra a importância da esperança, solidariedade e da luta pela vida. Desejamos a Vitor e sua família muita saúde e felicidade contínua. 💪❤️</p>
            </div>

    </div>
   

</section>
{% else %}
<section>
    <h3>Comentários</h3>
</section>
<section class="container-comentarios">
    <section class="blog">
        <div class="text-blog">
            <div class="text1-comunidade">
                <img src="../static/img/usuario.png" alt="usuario">
                <p>{{ user.user_nome }}r</p>
            </div>
        <form action="/comentar" method="post">

            <label for="comentario"></label>
            <textarea name="comentario" id="auto-resize-input" oninput="autoResize(this)" placeholder="Digite um  comentário"></textarea>
            <div class="button-blog">
            <button type="submit" value="publicar">Publicar</button>
            <input name="redirecionar" type="hidden" value="{{ comentario.com_id }}">
            </div>
        </form>
        </div>
    </section>

{% for resposta in respostas %}
<section class="comunidade">
    <div class="text-comunidade">

            <div class="text1-comunidade">
                <img src="../static/img/usuario.png" alt="usuario">
                {% set resposta_p = Usuario.query.filter_by(user_id=resposta.fk_user_id).first() %}
                <p>{{ resposta_p.user_nome }}</p>
            </div>

            <div class="text2-comunidade">
                <p>{{ resposta.com_historia }}</p>
            </div>
    </div>
</section>
{% endfor %}
<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto'; // Redefine a altura para automática
        textarea.style.height = textarea.scrollHeight + 'px'; // Define a altura com base no conteúdo
        }
</script>
{% endif %}
</main>

{% endblock %}