{% extends "base.html" %}

{% block head %}
<title>História</title>
<link rel="stylesheet" href="../static/css/blog.css">
{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Vitor Daniel dos Reis da Silva</h1>
    </section>
    
    <section class="container-comunidade">
        <section class="historia">
            <div class="text-comunidade">
                <div class="text1-comunidade">
                    <a href="/comunidade">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <img src="../static/img/usuario.png" alt="usuario">
                    <p>Margarida Braga dos Reis</p>
                    <button class="sideMenu">
                        <i class="fa-solid fa-ellipsis" style="transform: rotate(90deg);"></i>
                        <div class="sideOption">
                            <a href=""><i class="fa-solid fa-triangle-exclamation"></i> Reportar</a>
                        </div>
                    </button>
                </div>
                <div class="text2-comunidade">
                    <p>História do meu filho - Vitor Daniel dos Reis da Silva |
                        Nascimento: 24/02/2017 </p>
                </div>
            </div>

            <div class="text-historia">
                <p>
                    Victor Daniel, foi diagnosticado aos quatro meses de gestação com hidronefrose bilateral, começamos um acompanhamento mais detalhado ao logo da gravidez na Santa Casa de Misericórdia de Belém. Ao nascer realizou vários exames onde constatou DRC (Doença Renal Crônica) secundário a válvula de uretra posterior (VUP), optando pelo tratamento conservador com medicamentos, alimentação e exames periódicos para avaliação da progressão da doença. <br><br>
                    Quando surgiu a necessidade de fazer hemodiálise o hospital de Belém não tinha equipamentos para realizar diálise em bebês, foi então que entraram em contato com o hospital de São Paulo. No dia 26/05/2017, fomos para São Paulo, não iniciou de imediato hemodiálise retomando o tratamento conservador, contudo, no dia 28/07/2017 foi passado um cateter para começar a hemodiálise que ficou durante por 1 ano e 9 meses, mais de 8 transfusões de sangue, foram 10 passagens de cateter, fez vesicostomia, passagem de gastrostomia para ajudar no ganho de peso, conseguiu entrar na fila pro transplante em 2018. Nesse período teve várias intercorrências, foi testado duas vezes em períodos diferentes, mas o rim acabou ficando com outro paciente em fila com mais gravidade que Vitor. Finalmente em 05/08/2019 chegou o tão desejado rinzinho e Vitor finalmente conseguiu transplantar com órgão de doador falecido. <br><br>
                    Vitor hoje está com 6 anos de idade, sendo 4 aninhos de transplante, seguimos indo e vindo nas consultas, ficamos hospedados em casa de apoio. Melhor parte é saber que temos o tratamento que ele precisa e vamos poder voltar para casa e ficarmos juntinhos eu, Vitor e Murilo meu outro filho.
                </p>
            </div>
            <div class="image-historia">
                <img class="image" src="../static/img/vitor.png" alt="vitor">
                <img class="image" src="../static/img/vitor1.png" alt="vitor1">
                <img class="image" src="../static/img/vitor2.png" alt="vitor2">
                <img class="image" src="../static/img/vitor3.png" alt="vitor3">
                <img class="image" src="../static/img/vitor4.png" alt="vitor4">
            </div>
        </div>
    </section>
</section>
{% if user == None %}
<section>
    <h3>Comentários</h3>
</section>
<section class="comunidade">
    <div class="text-comunidade">

            <div class="text1-comunidade">
                <img src="../static/img/usuario.png" alt="usuario">
                <p>Ana Letícia de Santos</p>
            </div>

            <div class="text2-comunidade">
                <p>A história de superação de Vitor Daniel é emocionante e inspiradora. Ele enfrentou desafios desde o início de sua vida, passando por tratamentos intensos, hemodiálise e finalmente, o tão aguardado transplante renal. Vitor é um verdadeiro guerreiro e sua família demonstra amor inabalável e determinação. Esta história nos lembra a importância da esperança, solidariedade e da luta pela vida. Desejamos a Vitor e sua família muita saúde e felicidade contínua. 💪❤️</p>
            </div>

    </div>
   

</section>
{% else %}
<section>
    <h3>Comentários</h3>
</section>
<section class="container-comentarios">
    <section class="blog">
        <div class="text-blog">
            <div class="text1-comunidade">
                <img src="../static/img/usuario.png" alt="usuario">
                <p>Seu user</p>
            </div>
        <form action="" method="post">

            <label for="comentario"></label>
            <textarea id="auto-resize-input" oninput="autoResize(this)" placeholder="Digite um  comentário"></textarea>
            <div class="button-blog">
            <button type="submit" value="publicar">Publicar</button>
            </div>
        </form>
        </div>
    </section>


<section class="comunidade">
    <div class="text-comunidade">

            <div class="text1-comunidade">
                <img src="../static/img/usuario.png" alt="usuario">
                <p>Ana Letícia de Santos</p>
            </div>

            <div class="text2-comunidade">
                <p>A história de superação de Vitor Daniel é emocionante e inspiradora. Ele enfrentou desafios desde o início de sua vida, passando por tratamentos intensos, hemodiálise e finalmente, o tão aguardado transplante renal. Vitor é um verdadeiro guerreiro e sua família demonstra amor inabalável e determinação. Esta história nos lembra a importância da esperança, solidariedade e da luta pela vida. Desejamos a Vitor e sua família muita saúde e felicidade contínua. 💪❤️</p>
            </div>

    </div>
   

</section>
</section>
<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto'; // Redefine a altura para automática
        textarea.style.height = textarea.scrollHeight + 'px'; // Define a altura com base no conteúdo
        }
</script>
{% endif %}
</main>

{% endblock %}