{% extends "base.html" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block body %}
<main>
    
    <section class="container">
        <div class="text">
            <h1>MEU FILHO FOI DIAGNOSTICADO COM DRC! E AGORA!?</h1>
            <p>
                O diagnóstico da DRC depende de uma avaliação clínica que inclua uma boa análise da
                história da criança. Para identificar possíveis doenças do trato urinário, da realização de
                diversos exames laboratoriais de sangue, de urina e de imagem.
                Após receber o diagnóstico de insuficiência renal do seu filho ou filha, é fundamental buscar orientação médica especializada, iniciar o tratamento adequado o quanto antes.
            </p>
        </div>
        <div>
            <img src="../static/img/rim.svg" alt="rimm" />
        </div>
    </section>
    <!--fim-->
    <section class="container-background">
        <div class="text">
            <h2>O que é Doença Renal Crônica?</h2>
            <p>A doença renal crônica(DRC) é definida como uma patologia com duração superior a três meses que prejudica a capacidade dos rins de filtrar as toxinas do sangue. A doença renal crônica também é referida quando há alterações na estrutura renal, encontradas em imagens renais, biópsias e outras imagens renais; Da mesma forma, a doença renal crônica é considerada uma alteração em outras funções renais, como a perda de proteínas na urina e alterações nos exames de urina. Pacientes transplantados também são considerados portadores de doença renal crônica.</p><br>

            <p>A perda da capacidade de eliminar toxinas pelos rins na doença renal crônica varia de leve a grave. Quando a doença é grave e a função dos rins deve ser substituída por diálise ou transplante renal, é chamada de insuficiência renal crônica(IRC).</p><br>
                
            <p>Ressalta-se que o nome insuficiência renal crônica não é mais utilizado e foi substituído por outros termos como doença renal crônica grau 5 ou doença renal crônica terminal.</p>
        </div>
        <div>
            <img src="../static/img/irc.png" alt="irc">
        </div>
    </section>
    <section class="text-sem-img">
        <h3>Quais são os meios de tratamento?</h3>
        <p>
            O tratamento para DRC é variado e depende do estágio da doença em que o paciente se
            encontra.
        </p>
    </section>
    <section class="container-tratamentos">
        <section class="tratamentos">
            <h4>Terapia renal substitutiva</h4>
            <img class="image-tratamento" src="../static/img/hemodialise.png" alt="hemodialise">
            <div class="text-tratamento"><p>A terapia renal substitutiva é uma das modalidades de substituição da função renal por meio dos seguintes procedimentos: </p>
            </div>
        </section>
    
        <section class="tratamentos">
            <h4>Tratamento conservador</h4>
            <img class="image-hemodialise" src="../static/img/tratamentoconservador.png" alt="hemodialise">
            <div class="text-tratamento">
            <p>Nos casos iniciais, o tratamento pode ser feito por meio de medicamentos e mudanças na dieta e estilo de vida com o objetivo de desacelerar a progressão da doença.</p>
            </div>
        </section>
    </section>
    <section class="tratamentos-terapia">
        <section class="tratamentos-terapia-text">
            <h4>Dialise peritoneal</h4>
            <div><p>Procedimento que ocorre no peritônio do paciente e tem como objetivo substituir a função renal. A diálise é responsável por remover as impurezas e excessos de líquidos no sangue, com auxílio de um filtro natural chamado peritônio. Ele consiste em uma membrana porosa e semipermeável que cobre os principais órgãos do abdômen. O espaço entre esses órgãos é chamado de cavidade peritoneal. Um pequeno e fino tubo denominado cateter de Tenckhoff, é implantado pela parede abdominal próximo ao umbigo, após a implantação do cateter é possível a passagem de solução de diálise até a cavidade peritoneal, realizando a drenagem em contato com o sangue, retirando junto as toxinas como a ureia, potássio e creatinina, e o excesso de liquido do corpo.</p>
            </div>
        </section>
        <section class="tratamentos-terapia-text">
            <h4>Hemodiálise</h4>
            <div>
                <p>A hemodiálise desempenha um papel fundamental no tratamento da doença renal crônica (DRC) avançada, uma condição em que os rins perdem sua capacidade de funcionar adequadamente ao longo do tempo. Nesse contexto, a hemodiálise é um procedimento médico vital que é utilizado para substituir temporariamente a função renal comprometida ou perdida.</p>
            <p>Na doença renal crônica, os rins gradualmente perdem a capacidade de filtrar resíduos, toxinas e excesso de fluidos do sangue, levando ao acúmulo dessas substâncias no corpo, o que pode causar sérios problemas de saúde. A hemodiálise é empregada para compensar essa perda de função renal.</p>
            </div>
        </section>
        <section class="tratamentos-terapia-text">
            <h4>Transplante renal</h4>
            <div><p>É uma das opções de tratamento para pacientes que sofrem de doença renal crônica avançada. Um rim saudável de uma pessoa viva ou falecida é doado a um paciente portador de IR, através de uma cirurgia, esse rim é implantado no paciente e passa a exercer as funções de filtração e eliminação líquidos e toxinas. O transplante renal é considerado a mais completa alternativa de substituição da função renal. Tendo como principal vantagem a melhor qualidade de vida, pois o transplante garante mais liberdade na rotina diária dom paciente.</p>
            </div>
        </section>
    </section>
    
    <section class="text-sem-img-background">
        
            <h2>Nefrologia pediátrica e adulta</h2>
            <p>A nefrologia pediátrica é a subespecialidade da pediatria responsável por prevenir, diagnosticar e tratar de condições que assolam rins e bexiga. Nesse caso, os pacientes têm entre 0 e 18 anos de idade, ou seja, bebês, crianças e adolescentes. O nefrologista de adulto concentra-se no atendimento de pacientes com mais de 18 anos de idade.
            Lida com as doenças renais adquiridas que ocorrem na vida adulta, tem conhecimento em geriatria e no tratamento de doenças renais seja elas crônica, aguda, transplante e doenças renais que surgem com envelhecimento.</p>
      
    </section>
</main>
{% endblock %}

