{% extends "base.html" %}

{% block head %}
<title>Perguntas frequentes</title>
<link rel="stylesheet" href="../static/css/faq.css">
{% endblock %}

{% block body %}

<main>
    <section class="container">

        <h1>PERGUNTAS FREQUENTES</h1>
        {% for titulo, desc in dicionario.items() %}
        <details>
            <summary> {{ titulo }}<i class="fa-solid fa-chevron-down"></i></summary>
            <hr>
            <p> {{ desc }} </p>
        </details>
        {% endfor %}
    </section>
</main>

{% endblock %}