{% extends "base.html" %}

{% block head %}
<title>Proadi</title>
{% endblock %}

{% block body %}
<section class="container">
    <div class="text">
        <h1>PROADI SUS</h1>
        <p>O Programa de Apoio ao Desenvolvimento Institucional do Sistema Único de Saúde (Proadi-SUS) foi desenvolvido para colaborar com o fortalecimento do Sistema Único de Saúde (SUS). É financiado com recursos de imunidade tributária concedidos aos hospitais filantrópicos de excelência reconhecidos pelo Ministério da Saúde.</p>
    </div>
    <div>
        <img src="../static/img/proadisus.png" alt="proadi" />
    </div>
</section>
<section class="container-background">
    <div class="text">
        <h2>Hospital Samaritano</h2>
        <p>Em outubro de 2019, o hospital Samaritano Higienópolis conquistou o primeiro e único certificado do mundo de distinção concedido pela Joint Commission International por Transplante de Rim Pediátrico. O projeto tem vocação para preparo, realização e seguimento de transplantes renais em crianças de baixo peso, sendo uma das maiores casuísticas do mundo nessa faixa etária.</p>
    </div>
    <div>
        <img src="../static/img/hospital.png" alt="hospital">
    </div>
</section>
<section class="container-texto">
    <h3>Dados das pesquisas</h2>
    <ul>
        <li>A sobrevida dos pacientes após 1 e 5 anos de transplante foi de 97% e 95% no grupo de crianças de baixo peso, enquanto no grupo de crianças com peso superior foi de 99% e 96%.</li>
        <li>Os transplantados de São Paulo representam 43% dos pacientes, e os outros 57% possuem 14 dos 26 diferentes Estados do país.</li>
        <li>Pacientes de Estados distantes foram repatriados 3 meses após o transplante ou assim que se estabilizaram clinicamente para continuar </li>
    </ul>
</section>
<section class="container-background-texto">
    <h2>Triênios</h2>
    <p>Os triênios referem-se aos anos em que o Hospital Samaritano participou do projeto PROADI-SUS.
    </p>
    <p>Esses foram os anos em que eles participaram:</p>
    <ul>
        <li>2009-2011</li>
        <li>2012-2014</li>
        <li>2015-2017</li>
    </ul>
</section>
{% endblock %}

