{% extends "base.html" %}

{% block head %}
<title>Quem somos</title>
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block body %}
<main>
    
    <section class="container">
        <div class="text">
            <h1>Quem somos</h1>
            <p>A CRA, Comunidade RIM do AMOR, é formada por mães atípicas dedicadas à busca de melhorias para famílias e pacientes renais crônicos pediátricos. 
                Nossa comunidade é um espaço de solidariedade e apoio mútuo, onde compartilhamos experiências, informações e recursos. Estamos empenhados em sensibilizar a sociedade sobre a importância da conscientização e da melhoria da qualidade de vida das crianças com doença renal crônica. Através da união de mães atípicas determinadas e comprometidas, buscamos influenciar as políticas de saúde, visando garantir um tratamento de excelência e a dignidade de vida para as crianças afetadas por essa condição. Juntos, somos o RIM do AMOR, lutando por um futuro mais saudável e feliz para nossas crianças.</p>
            
        </div>
        <div>
            <img src="../static/img/logo.svg" alt="rimm" />
        </div>
    </section>
    <!--fim-->
    <section class="text-sem-img-background">
        
            <h2>Objetivo</h2>
            <p>
                Nosso objetivo principal é orientar e apoiar famílias que tenham crianças com DRC (Doença Renal Crônica). Nós fornecemos dados baseados em conhecimentos científicos, oferecemos orientações após o diagnóstico e lutamos por melhorias nas políticas dos setores público e privado. Nosso compromisso é garantir assistência, acolhimento e atendimento integral em nível nacional para os pacientes renais crônicos pediátricos. Juntos, trabalhamos para fazer a diferença e promover o amor e o cuidado na jornada desafiadora da doença renal crônica em crianças.
            </p>
        </div>
    
    </section>
        
    <section class="container">
        <div class="text"> 
            <h3>Equipe</h3>
            <p>Nossa equipe é formada por 5 mães:</p>
        </div>
           
     </section>

        <section class="container-equipe">
            <section class="equipe">
                <p>Shirlene Giló</p>
                <img src="../static/img/foto.png" alt="foto mãe">
                <p>Alagoas</p>
            </section>
            <section class="equipe">
                <p>Vandressa Santos</p>
                <img src="../static/img/foto.png" alt="foto mãe">
                <p>Alagoas</p>
            </section>
            <section class="equipe">
                <p>Silviane Moraes</p>
                <img src="../static/img/foto.png" alt="foto mãe">
                <p>Maranhão</p>
            </section>
            <section class="equipe">
                <p>Thaís Ferreira</p>
                <img src="../static/img/foto.png" alt="foto mãe">
                <p>Brasília</p>
            </section>
            <section class="equipe">
                <p>Micielle Soares</p>
                <img src="../static/img/foto.png" alt="foto mãe">
                <p>São Paulo</p>
            </section>
        </section>
    
        
   
    
    
    <section class="text-sem-img-background">
        
            <h2>Contatos</h2>
            <p><a href="mailto:rimdoamor@gmail.com"><i class="fa-regular fa-envelope"></i>  rimdoamor@gmail.com</p></a>
            <p><a href="https://www.instagram.com/rimdoamor/"><i class="fa-brands fa-instagram"></i>   @rimdoamor</p></a>
      
    </section>
</main>
{% endblock %}

