<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>
<body>
    <p><strong>Hospitais em {{ estado_selecionado }}:</strong></p>
    <ul>
        {% for hospital in hospitais %}
            <li>
                {% if hospital.Hospital %}
                <strong>Hospital: {{ hospital.Hospital }}</strong><br>
                {% endif %}
                {% if hospital.Coordenadora %}
                    Coordenadora: {{ hospital.Coordenadora }}<br>
                {% endif %}
                {% if hospital.Endereço %}
                    Endereço: {{ hospital.Endereço }}<br>
                {% endif %}
                {% if hospital.CEP %}
                    CEP: {{ hospital.CEP }}<br>
                {% endif %}
                {% if hospital.Telefones %}
                    Telefones: {{ hospital.Telefones }}<br>
                {% endif %}
                {% if hospital['E-mail'] %}
                    E-mail: {{ hospital['E-mail'] }}<br>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
