<!-- todos_hospitais.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos os Hospitais</title>
</head>
<body>
<div id="todos-hospitais">
    <h1>Todos os Hospitais</h1>
    
    <ul>
        {% for estado_info in hospitais_data %}
            <li>
                <h2>{{ estado_info['Estado'] }}</h2>
                <ul>
                    {% for hospital in estado_info['Hospitais'] %}
                        <li>
                            {% if hospital['Hospital'] %}
                            <strong>Hospital: {{ hospital['Hospital'] }}<br></strong>
                            {% endif %}
                            {% if hospital['Coordenadora'] %}
                                Coordenadora: {{ hospital['Coordenadora'] }}<br>
                            {% endif %}
                            {% if hospital['Endereço'] %}
                                Endereço: {{ hospital['Endereço'] }}<br>
                            {% endif %}
                            {% if hospital['CEP'] %}
                                CEP: {{ hospital['CEP'] }}<br>
                            {% endif %}
                            {% if hospital['Telefones'] %}
                                Telefones: {{ hospital['Telefones'] }}<br>
                            {% endif %}
                            {% if hospital['E-mail'] %}
                                E-mail: {{ hospital['E-mail'] }}<br>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    
    <a href="/">Voltar para o filtro por estado</a>
</div>

<script>
    // Adicione um JavaScript para ocultar a lista completa de hospitais
    const todosHospitais = document.getElementById('todos-hospitais');
    todosHospitais.style.display = 'none'; // Oculta a lista completa por padrão
</script>

</body>
</html>
