/* Estilos gerais */
section {
    padding: var(--padding-fixo);
}

select#estadoSelect,
select#filtroEstado {
    border-radius: 10px;
}

option {
    text-align: center;
}

/* Estilos para o contêiner de resultados */
#resultadoContainer {
    font-size: 18px;
    border-radius: 10px;
}

.estado {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--cor-fonte-azul);
    font-weight: bold;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 70%;
    max-width: 100%;
    height: auto;
}

/* Estilos para as colunas Estado e Pacientes */
#estadoHeader, #pacientesHeader {
    display: none;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--cor-fonte-azul);
    font-weight: bold;
}
.container-texto form {
    display: flex;
    margin-right: 10px;
}
.text a  {
    font-size: 18px;
    color: var(--cor-fonte-azul);
}

@media (max-width: 600px) {
    .image-container img {
        width: 100%;
    }
}