section {
    padding: var(--padding-fixo);
}
select#estadoSelect {
    border-radius: 10px; 
}
option{
    text-align: center;
}
/* Estilos para o contêiner de resultados */
#resultadoContainer {
    font-size: 18px; 
    border-radius: 10px; 
    padding: 10px;
}

.estado {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    color:var(--cor-fonte-azul);
    font-weight: bold;
}
