main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 30px 0;
    border-radius: 20px;
    background-color: var(--cor-fundo-branco);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

}

main label {
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-fonte-cinza);
}

main input:focus {
    outline: none;
}

main input {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin: 5px 0 20px 0;
    padding: 3px;
}

main input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fonte-azul);
    border-radius: 20px;
    color: var(--cor-fundo-branco);
    height: 40px;
    cursor: pointer;
}

main input[type=submit]:hover {
    transform: scale(0.98);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-fonte-cinza);
}

main p {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-fonte-cinza);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 48px;
}

