/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap');

:root {
    --cor-fonte-cinza: rgb(63, 63, 70);
    --cor-fonte-azul: #148387;
    --cor-fundo-branco: #f5f3f0;
    --padding-fixo: 40px 70px;
}

* {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

h1 {
    padding-bottom: var(--padding-titulo);
    overflow: hidden;
    color: var(--cor-fonte-azul);
    font-family: Bebas Neue;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}
h2 {
    padding-bottom: var(--padding-titulo);
    overflow: hidden;
    color: var(--cor-fonte-cinza);
    font-family: Nunito Sans;
    font-size: 30px;
    font-weight: 650;
    line-height: 150%;
}

h3 {
    padding-bottom: var(--padding-titulo);
    overflow: hidden;
    color: var(--cor-fonte-azul);
    font-family: Nunito sans;
    font-size: 30px;
    font-weight: 650;
    line-height: 150%;
}

h4 {
    
    padding: 20px;
    color: var(--cor-fonte-cinza);
    font-size: 30px;
    font-weight: 650;
    line-height: 150%;
}

p {
    font-size: 18px;
    text-align: justify;
}
a{
    text-decoration: none;
}
/* ------------------------------Header------------------------------ */
header {
    background-color: var(--cor-fundo-branco);
    color: var(--cor-fonte-azul);
    padding: 5px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--cor-fonte-azul);
}

.logo img {
    max-width: 75px;
    height: auto;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
    margin-right: 22px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu a {
    color: var(--cor-fonte-cinza);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.menu a:hover{
    color: var(--cor-fonte-azul);
}

.profile button {
    border: none;
    background-color: var(--cor-fundo-branco);
    width: 120px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.profile i {
    color: var(--cor-fonte-azul);
    font-size: 24px;
    margin: 0 10px;
}

.profile i:first-child {
    font-size: 32px;
}
.login_box {
    position: absolute;
    display: none;
    background-color: var(--cor-fundo-branco);
    width: 120px;
    border-radius: 25px;
    padding: 5px;
    top: 75px; 
    text-align: center; 
}

.login_box a {
    color: var(--cor-fonte-azul);
    text-decoration: none;
    padding: 5px 0;
    display: block;
    font-size: 18px;
}

.arrow {
    transition: 350ms;
}

.arrow_rotate {
    transform: rotate(180deg);
    transition: 350ms;
}
/* ------------------------------COMEÇO do HOME------------------------------ */
.container, .container-background, .container-background-texto {
    padding: var(--padding-fixo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.container-background, .container-background-texto {
    background-color: var(--cor-fundo-branco);
}

.container-background-texto,
.container-texto {
    color: var(--cor-fonte-cinza);
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 20px;
}

.container-tratamentos {
    padding: var(--padding-fixo);
    display: flex;
    justify-content: space-around;
}
.text {
    width: 800px;
    color: var(--cor-fonte-cinza);
}
.text-sem-img {
    padding: var(--padding-fixo);
    color: var(--cor-fonte-cinza);
}
.text-sem-img-background {
    padding: var(--padding-fixo);
    color: var(--cor-fonte-cinza);
    background-color: var(--cor-fundo-branco);
}
.tratamentos-terapia{
    padding:var(--padding-fixo);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tratamentos-terapia-text{
    text-align: center; 
    padding: 20px;
    width: 340px;
    height: 600px;
    border-radius: 32px;
    border-bottom: 5px solid var(--cor-fonte-azul);
    background-color: var(--cor-fundo-branco);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
}
.container-tratamentos{
    padding:var(--padding-fixo);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.tratamentos{
    padding: 20px;
    text-align: center; 
    width: 530px;
    height: 450px;
    border-radius: 32px;
    border-bottom: 5px solid var(--cor-fonte-azul);
    background-color: var(--cor-fundo-branco);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    }
.text-tratamento{
    padding: 20px;
}

/* ------------------------------FIM do HOME------------------------------ */

/* ------------------------------COMEÇO do FOOTER------------------------------ */
footer {
    background-color: var(--cor-fonte-azul);
    color: var(--cor-fundo-branco);
    text-align: center;
    padding: 10px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left img {
    width: 50px;
}
.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding:10px;
    background-color: var(--cor-fundo-branco);
    border-radius: 50px;
    align-items: center;  
}
.footer-right-text{
    font-family: Bebas Neue;
    font-size: 20px;
    color: var(--cor-fonte-azul); 
}
.fa-brands{
    color: var(--cor-fonte-azul);
    font-size: 20px;
}
